<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div id="user-data" ngModelGroup = "userData" #userData = "ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" [ngModel] = "deafultName" name="username" required>
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUserName()">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" id="email" class="form-control" [ngModel] = "deafultEmail" name="email" required email #email="ngModel">
            <span  *ngIf="!email.valid && email.touched">Please enter a valid value</span>
          </div>
        </div>
        <p *ngIf="!userData.valid">User Data is invalid</p>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" [ngModel] = "deafultQuestion" name="secret">
            <option value="teacher">Your first teacher?</option>
            <option value="pet">Your first Pet?</option>
            <!-- <option >Your first car?</option>
            <option >Your first kiss?</option> -->
          </select>
        </div>
        <div class="form-group">
          <textarea name="questionAnswer"  rows="5" [(ngModel)] = "answer"></textarea>
        </div>
        <p>Your Reply is: {{answer}}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" name="gender" ngModel [value] = "gender" required> {{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
      <div class="row" *ngIf="submitted">
        <div class="col-xs-12">
          <h3>Your Data</h3>
          <p>Username: {{user.username}}</p>
          <p>Mail: {{user.email}}</p>
          <p>Secret Question: Your First {{user.secretQuestion}}</p>
          <p>Answer: {{user.answer}}</p>
          <p>Gender: {{user.gender}}</p>
        </div>
      </div>
    </div>
  </div>
</div>


<h4>Assignment</h4>

<div>
  <form (ngSubmit)="onNewSubmit()" #assignmentSignupForm ="ngForm">
    <label>Mail: 
      <input type="email" name="email" ngModel required #email1="ngModel" class="form-control">
      <span *ngIf="!email1.valid && email1.touched">Please enter a valid email.</span>
    </label>
    <select name="subscription" id="subscription" [ngModel] = "selectedSubscription" class="form-control" >
      <!-- <option value="Basic">Basic</option>
      <option value="Advanced" >Advanced</option>
      <option value="Pro">Pro</option> -->
      <option *ngFor="let subscription of subscriptions" let i index> {{subscription}}</option>
    </select>
    <label>Password: 
      <input type="password" name="password" required ngModel #password="ngModel" class="form-control">
      <span *ngIf="!password.valid && password.touched">Please enter a valid password.</span>
      <button type="submit">Submit</button>
    </label>
    <span *ngIf="!assignmentSignupForm.valid && assignmentSignupForm.touched">Please enter valid data.</span>
  </form>
</div>

<h4>Reactive Approach</h4>

<div>
  <form [formGroup]="reactiveSignupForm" (ngSubmit)="onReactiveSubmit()">
    <div formGroupName="userData">
      <div class="form-group">
        <label for="username">Username1</label>
        <input type="text" id="username1" class="form-control" formControlName="username">
        <span *ngIf="!reactiveSignupForm.get('userData.username')!.valid && reactiveSignupForm.get('userData.username')!.touched">
          <!-- The following 2 spans did not work, may be because of "strict null checks" (Need to reserach more) -->
          <!-- <span *ngIf="reactiveSignupForm.get('userData.username').errors['nameIsForbidden']">
            This name is invalid.
          </span>
          <span *ngIf="reactiveSignupForm.get('userData.username').errors['required']">
            This field is required.
          </span> -->
          This field is required.
        </span>
      </div>
      
      <div class="form-group">
        <label for="email">Mail1</label>
        <input type="email" id="email1" class="form-control" formControlName="email">
        <span *ngIf="!reactiveSignupForm.get('userData.email')!.valid && reactiveSignupForm.get('userData.email')!.touched">Please enter a valid email</span>
      </div>
    </div>
     
    <div class="radio" *ngFor="let gender of genders">
      <label>
        <input type="radio" name="gender" [value] = "gender" formControlName="gender"> {{gender}}
      </label>
    </div>
    <div formArrayName="hobbies">
      <h4>Your Hobbies</h4>
      <button btn btn-default type="button" (click)="onAddHobby()">Add Hobby</button>
      <div class="form-group" *ngFor="let hobbyControl of getControls(); let i = index">
        <input type="text" class="form-control" [formControlName]="i">
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>
    <span *ngIf="!reactiveSignupForm.valid && reactiveSignupForm.touched">Please enter valid data</span>
  </form>

  <!-- Reactive Form Assigment -->
  <form [formGroup]="reactiveSignupFormAssignment" (ngSubmit)="onReactiveAssignmentSubmit()">
    <label for="projectName">
      Project Name
      <input type="text" formControlName="projectName">
      <span *ngIf="!reactiveSignupFormAssignment.get('projectName')!.valid && reactiveSignupFormAssignment.get('projectName')!.touched">
        This field is required
      </span>
    </label>
    <label for="projectName">
      Email
      <input type="email" formControlName="email">
      <span *ngIf="!reactiveSignupFormAssignment.get('email')!.valid && reactiveSignupFormAssignment.get('email')!.touched">
        This field is required
      </span>
    </label>
    <select name="projectStatus" id="projectStatus">
      <option *ngFor="let status of projectStatus" let i index >{{status}}</option>
    </select>
    <button type="submit">Reactive Form Assignment</button>
  </form>
</div>